body {
  margin: 0;
  font-family: ProductSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'ProductSans';
  src: local('ProductSans'), url(./fonts/ProductSans-Regular.ttf) format('truetype');
}